body.detached {
    width: auto;
    overflow-y: auto;
}
.container {
    padding: 0;
}
#profilesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.app-title {
    display: flex;
    align-items: center;
}