.profile-card {
    border: 1px solid; /* color will be in theme.css */
    border-radius: 0.25rem;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.profile-header {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
.archived-profile-card {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 8px;
    margin-bottom: 5px;
    border: 1px solid #6c757d;
    border-radius: 0.25rem;
}
.archived-profile-card .profile-info {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
}
.archived-profile-card .profile-info > * {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fix for profile header buttons border-radius after reordering */
.profile-card.js-mode .profile-header .input-group .copy-profile {
    border-top-right-radius: var(--bs-border-radius-sm);
    border-bottom-right-radius: var(--bs-border-radius-sm);
}

/* Fix for JS Mode folder select button to have sharp corners when another button follows a hidden one */
.js-mode-item .select-project-folder:has(+ .forget-project-folder[style*="display: none"]) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Compact styling for project location inputs when there are many */
.input-group-compact.input-group-sm > .btn,
.input-group-compact.input-group-sm > .form-control,
.input-group-compact.input-group-sm > .input-group-text {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    font-size: 0.75rem; /* slightly smaller font */
    height: auto; /* let padding define height */
}

/* Adjust icon alignment in smaller buttons */
.input-group-compact.input-group-sm > .btn i {
    vertical-align: middle;
}